
.env

data/import
data/export




.secrets


coms_php/nginx/default.conf

config.php
# app/coms/papers
coms_php/app/papers

# admin/conf.php

# pg_*.sql

# pg/init/01_create
coms_php/pg/init/01_create
# data/pg
data/domainkeys
# data/log
# data/papers


backup

trash



admin_nginx

app/admin/


# /api
# /app/api

__pycache__

