
{{ template "header.tmpl" .}}

<div class="doc-page" style="text-align: center; padding-top: 5rem;">
    <div class="top_dirs">
        <div class="block" style="padding: 1rem; font-size: 4rem;">
            404
        </div>
        <div class="block" style="padding: 1rem; font-size: 2rem;">
            Page not found
        </div>
    </div>
</div>

{{ template "footer.tmpl" .}}

