
{{/* {{template "base.tmpl" .}} */}}
{{ template "header.tmpl" .}}


{{/* {{define "content"}} */}}
<div class="doc-page" style="text-align: center; padding-top: 2rem;">
    <div class="top_dirs">
        <div class="block" style="padding: 1rem;">
            <div class="link" style="padding: 0.2rem;">
                <b><a href="/doc?id=b80d5dcef9f3">Conferences proceedings</a></b>
                <div class="info" style="padding: 0.2rem;">
                    <i>See <a href="http://conf.physcon.ru/">conferences list</a><span> for extra information about past and future IPACS conferences.</span></i>
                </div>
            </div>
        </div>
        
        <div class="block" style="padding: 1rem;">
            <div class="link" style="padding: 0.2rem;">
                <b><a href="/doc?id=29e59dce4f11">CYBERNETICS AND PHYSICS Journal</a></b>
                <div class="info" style="padding: 0.2rem;">
                    <i>See <a href="http://cap.physcon.ru/">journal site</a><span> for more information.</span></i>
                </div>
            </div>
        </div>
        
        <div class="block" style="padding: 1rem;">
            <div class="link" style="padding: 0.2rem;">
                <b><a href="/doc?id=8bb18b51f9a0">Open Archive</a></b>
                <div class="info" style="padding: 0.2rem;">
                    <i>The documents, submitted by IPACS members</i>
                </div>
            </div>
        </div>
    </div>
</div>
{{/* {{end}} */}}

{{ template "footer.tmpl" .}}


{{/* {{template "base.tmpl" .}} */}}

