

# */1 * * * * echo "This is a test" >> /var/log/cron/cron.log 2>&1

* * * * * truncate -s 10K /var/log/cron/cron.log && cd /var/www/html/email2/; /usr/local/bin/php sendmail.php >> /var/log/cron/cron.log 2>&1

