# Flask
# flask-cors
fastapi
uvicorn
pydantic
# motor == 2.5
# pymongo == 4.0.1
motor
# pymongo
# pymongo == 4.0.1
psycopg2
SQLAlchemy

python-jose[cryptography]
passlib

python-multipart
# fastapi.security
